<h1>Chat</h1>

<form onsubmit="return addMessage(this)">
    <label for="author">Nombre</label>
    <input type="text" name="author" id="author" placeholder="Enter name">
    <br>
    <label for="text">Mensaje</label>
    <input type="text" name="text" id="text" placeholder="Enter text">
    <br>
    <button type="submit">Enviar</button>
</form>
<br><br>
<div id="messages"></div>