<h1>Agregar Producto</h1>
<br>
<form action='/' method='post'>
    <div class='form-group'>
        <label for='title'>Item</label>
        <input type='text' name='title' id='title' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='price'>Nombre</label>
        <input type='number' name='price' id='price' class='form-control' />
    </div>
    <div class='form-group'>
        <label for='thumbnail'>Imagen</label>
        <input type='text' name='thumbnail' id='thumbnail' class='form-control' />
    </div>
    <br />
    <button type='submit' class='btn btn-success'>Guardar</button>
</form>
<br>

<% if (newProductSaved) { %>
    <p> Se guardó el producto <%- title %> con el id: <%- id %>
    </p>
    <% } %>
        